<%- include("header", {}) %>

    <div class="title d-flex flex-column align-items-center justify-content-center">
        Lista Chats
    </div>

    <div>
        <div class="row2">
            <div class="column2">
                <% chats.forEach((chat) => { %>
                    <div class="ofertas d-flex flex-column align-items-start justify-content-start">
                        <form method="post" action="/chats">
                            <div class="mt-2"></div>
                            <h5 class="espaciadoChats" >Reserva: <%= chat.reserva %></h5>
                            <p class="espaciadoChats"><%= chat.usuario %></p>
                            <button type="submit" class="btn btn-primary espaciadoChats abrir-btn" name="idReserva" value="<%= chat.reserva %>">Abrir</button>
                        </form>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    </div>
    <%- include("footer", {}) %>