<%- include("header", {}) %>

    <!--Link tiene que ir primero que script-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
        </script>

<div class="title d-flex flex-column align-items-center justify-content-center">
  Revisión XD
</div>
    <div class="content row w-100">
        <div class="row2">
            <div class="column2">

              <% locales.forEach((local) => { %>
                <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
                  <h3><%= local.nombre %></h3>
                  <button id="<%= local.uuid %>" class="btn btn-primary ver-btn">ver</button>
                </div>
              <% }) %>
             <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
              
              <button id="annadir-btn" class="btn btn-success">Añadir sitio</button>
           </div>


            </div>
            <div id="editar_local" class="column2">


              <form id="formulario" method="post" action="/editarSitio" class="row mb-3 d-none">
                <div class="mb-3">
                  <br>
                  <br>
                  <br>
                  <br>
                    <label class="form-label" for="local-input"><strong>Local</strong></label>
                    <input id="local-input" class="form-control" type="text" name="local" placeholder="Bar Manolo" required>
                </div>
                <div class="mb-4 row">
                    <div class="col">
                      <label class="form-label" for="calle-textarea"><strong>Calle</strong></label>
                      <textarea id="calle-textarea" class="form-control" name="calle" placeholder="Calle de Álvarez de Baena"></textarea>
                    </div>
                    <div class="col">
                      <label class="form-label" for="codigoPostal"><strong>Código Postal</strong></label>
                      <input id="codigoPostal" class="form-control" type="number" name="codigoPostal" placeholder="28000" required>
                    </div>
                </div>
                <div>
                    <label for="imagen"><strong>Logo</strong></label>
                    <div class="mt-3"></div>
                    <input type="file" name="imagen" id="imagen">
                    
                </div>
                <div id="offerBts" class="mt-5">
                    <button id="enviar-btn" type="submit" class="btn btn-success">Guardar</button>
                    <button id="cancelar-btn" type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </form>


            </div>
          </div> 
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/editarSitio.js"></script>
    <script type="text/javascript">
      const locales = JSON.parse('<%- localesParaScript %>');

      // Manejador para los botones de ver
      $('.ver-btn').on('click', function(e) {
          // Establecemos el id del boton en el formulario
          const idLocal = $(this).attr('id');
          $('#enviar-btn').attr('name', 'idLocal');
          $('#enviar-btn').attr('value', idLocal);

          // Establecemos la ruta del POST
          $('#formulario').attr('action', '/editarSitio/editar');

          // Hacemos visible el formulario
          $('#formulario').removeClass('d-none');
          
          // Rellenamos los campos con los valores adecuados
          let local = null;
          locales.forEach((l) => {
              if (l.uuid === idLocal) {
                  local = l;
              }
          });
          console.log(local)

          $('#local-input').val(local.nombre);
          $('#calle-textarea').val(local.calle);
          $('#codigoPostal').val(local.codigoPostal);
          $('#imagen').val(local.logo);
      });
    </script>
    <%- include("footer", {}) %>