<%- include("header", {}) %>

    <!--Link tiene que ir primero que script-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
        </script>


    <div class="content row w-100">
        <div id="formularioReserva" class="d-none container w-50 p-5 fixed-top mt-10 dialogo rounded">
            <form method="post" action="explorador_ofertas">
                <div id="div-hora" class="mb-3">
                    <label class="form-label" for="hora-input">Hora</label>
                    <input id="hora-input" class="form-control" type="text" name="hora" required>
                </div>
                <div id="div-dia" class="mb-3">
                    <label class="form-label" for="dia-input">Dia</label>
                    <input id="dia-input" class="form-control" type="text" name="dia" required>
                </div>
                <div id="div-telefono" class="mb-3">
                    <label class="form-label" for="telefono-input">Teléfono</label>
                    <input id="telefono-input" class="form-control" type="text" name="telefono" required>
                </div>
                <button id="submit" type="submit" class="btn btn-primary" name="oferta" value="">reservar</button>
            </form>
        </div>
        <div id="div-ofertas" class="col-4">
            <div class="title d-flex flex-column align-items-center justify-content-center">
                OFERTAS CERCANAS
            </div>
            
            <% ofertas.forEach((oferta) => { %>
                <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
                    <h3><%= oferta.local %></h3>
                    <p>Descripción: <%= oferta.descripcion %></p>
                    <p>Precio: <%= oferta.precio %></p>
                    <img id="img_ofertas" src="<%= oferta.foto %>"  width="1%">
                    <button id="<%= oferta.uuid %>" class="btn btn-primary reservar-btn" >reservar</button>
                </div>
            <%}); %>
        </div>
        <div id="div-mapa" class="col"><button onclick="generar_bar()">
        Buscar en esta zona
    </button>
            <div id="map"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/explorador_ofertas.js"></script>

    <script>
        //Añadir mapa 
        var map = L.map('map').setView([40.416775, -3.703790], 14);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        //Marcador
        var marker = L.marker([40.416775, -3.703790]).addTo(map);
    </script>
    

    <script>
        function generar_bar(){
        //Marcador
        var marker = L.marker([40.411872, -3.665494]).addTo(map);
        let ofertas = document.querySelector('.col-4');
        let 
        }
    </script>

    <%- include("footer", {}) %>