<%- include("header", {}) %>

    <div class="title d-flex flex-column align-items-center justify-content-center">
        Historico de Ofertas
    </div>

    <div>
        <div class="row2">
            <div class="column2">
                <% ofertas.forEach((oferta) => { %>
                    <div class="ofertas d-flex flex-column align-items-center justify-content-center">
                        <div class="mt-2"></div>
                        <h5 class="pl-2"><%= oferta.local.nombre %></h5>
                        <p>Descripción: <%= oferta.descripcion %></p>
                        <p>Precio: <%= oferta.precio %> €</p>
                        <% if (oferta.activa) { %>
                            <p><span style="color: rgb(39, 139, 39);">ACTIVA</span></p>
                        <% } else { %>
                            <p><span style="color: rgb(139, 39, 39);">DESACTIVADA</span></p>
                        <% } %>
                        <button id="<%= oferta.uuid %>" class="btn btn-primary editar-btn">Ver</button>
                    </div>
                <% }); %>
            </div>

            <div id="editar_local" class="column2 d-none">
                <div class="mt-3"></div>
                <form id="formulario" method="post" action="/ofertasActivas">
                    <div>
                        <label class="form-label espaciadoHistoric" for="local-input"><strong>Local</strong></label>
                        <input id="local" class="form-control espaciadoHistoric" readonly type="text" name="local" placeholder="Bar Manolo"
                            required>
                    </div>
                    <div class="mt-3"></div>
                    <div class="mb-4 row">
                        <div class="col">
                            <label class="form-label espaciadoHistoric" for="descripcion"><strong>Descripcion</strong></label>
                            <textarea id="descripcion" readonly class="form-control espaciadoHistoric" name="descripcion"
                                placeholder="Cubo de Cerveza"></textarea>
                        </div>
                        <div class="col">
                            <label class="form-label espaciadoHistoric" for="precioOferta"><strong>Precio</strong></label>
                            <input id="precioOferta" readonly class="form-control espaciadoHistoric" type="number" name="precio"
                                placeholder="3 €" required>
                        </div>
                    </div>
                    <div>
                        <label for="imagen" class="espaciadoHistoric"><strong>Imagen</strong></label>
                        <div class="mt-3"></div>
                        <input type="file" readonly name="imagen" id="imagen" class="espaciadoHistoric">
                    </div>
                    <div id="offerBts" class="mt-5">
                        <button id="reactivar-btn" type="submit" name="oferta" class="btn btn-success">Reactivar</button>
                    </div>
                    <div class="mb-3"></div>
                </form>


            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script text="text/javascript">
        const ofertas = JSON.parse('<%- ofertasForScript %>');

        // Añadimos un listener a los botones de editar
        $('.editar-btn').on('click', function(e) {
            // Obtenemos la oferta
            let oferta = null;
            let ofertaId = $(this).attr('id');
            ofertas.forEach((o) => {
                if (o.uuid === ofertaId) {
                    oferta = o;
                }
            })

            // Rellenamos los campos del formulario
            $('#local').val(oferta.local.nombre);
            $('#descripcion').val(oferta.descripcion);
            $('#precioOferta').val(oferta.precio);
            $('#imagen').val(oferta.foto);

            // Modificamos el valor de los botones del formulario
            $('#reactivar-btn').val(oferta.uuid);

            // Hacemos visible el formulario
            $('#editar_local').removeClass('d-none');
        });

        // Listener para guardar
        $('#reactivar-btn').on('click', function(e) {
            $('#formulario').attr('action', '/historico/reactivar');
        });
    </script>
    <%- include("footer", {}) %>