<%- include("header", {}) %>

    <!--Link tiene que ir primero que script-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
        </script>


    <div class="content row w-100">
        <div id="div-ofertas" class="col-4">
            <div class="title d-flex flex-column align-items-center justify-content-center">
                TUS RESERVAS 
            </div>
            <% reservas.forEach((reserva) => { %>
                <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
                    <div class="mb-2">
                        <h3><%= reserva.oferta.local.nombre %></h3>
                        <p>Descripción: <%= reserva.oferta.descripcion %></p>
                        <p>Precio: <%= reserva.oferta.precio%></p>
                    </div>
                    <div class="mb-2">
                        <h3>DETALLE DE RESERVA</h3>
                        <p><strong>Hora:</strong> <%= reserva.hora %></p>
                        <p><strong>Dia:</strong> <%= reserva.dia %></p>
                        <p><strong>Teléfono:</strong> <%= reserva.telefono %></p>
                    </div>
                    <div class="mb-2 d-flex flex-column align-items-center justify-content-center">
                        <form method="post" action="">
                            <button id="chat" type="submit" class="btn btn-primary" name="reserva" value="<%= reserva.uuid %>">Chat</button>
                            <button id="cancelar" class="btn btn-primary" type="submit">Cancelar</button>
                        </form> 
                    </div>
                </div>
            <% }); %>
        </div>
        <div id="div-mapa" class="col">
            <div id="map" style="height: 85vh"></div>
        </div>
    </div>

    <script>
        //Añadir mapa 
        var map = L.map('map').setView([40.416775, -3.703790], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        //Marcador
        var marker = L.marker([40.416775, -3.703790]).addTo(map);
    </script>

    <%- include("footer", {}) %>